@import url('./fonts.css');
@import url(./partials/_variables.css);

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    color: white;
}

/* Navbar Styling */

#mainBrand {
    padding: 0.2rem 0.5rem;
}

#homeNav {
    font: normal 700 15px/2px var(--lato); /* font-style font-weight font-size/line-height font-family */
    padding: 1rem 20rem;
    text-transform: uppercase;
    padding: 1.7rem;
    color:white;
}

#homeNav a:hover {
    color: red;
}

/* Fixed Navbar Styling */

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: black;
    z-index: 999;
    transition: background 0.5s ease;
}

/* Banner Styling */

.site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 700;
}

.site-banner .site-title h3:after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: white;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-banner {
    background-image: url(../../content/images/witcherwall.jpg);
    background-size: cover;
    background-position: center;
}

/* Banner Buttons Animations */

.site-banner .banner-btns a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid white;
    text-transform: uppercase;
    color: red;
    text-decoration: none;
    font: bold 700 20px/2px var(--lato);
    margin-right: 50px;
}

.site-banner .banner-btns a:before{
    content:'';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: black;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}

.site-banner .banner-btns a:hover:before{
    transform: scaleY(0);
}

.site-banner .banner-btns a:after{
    content:'';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px );
    width: calc(100% - 12px);
    background:black;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.site-banner .banner-btns a:hover:after{
    transform: scaleX(0);
}

.site-banner .banner-btns a span{
    position: relative;
    z-index: 3;
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7.5rem 0rem;
    width: 90rem;
}

.site-main .about-area .about-image > img{
    padding: 2rem 0rem;
    width: 40rem;
}

.site-main .about-area {
    background-color: black;
    /* background-size: cover;
    background-position: top; */
}

/* Showcase Styling */

.monsterShowcase h3{
    font: normal 700 30px/2px var(--lato);
    padding: 3rem 3rem;
}

.monsterShowcase .single-monster > img{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem;
}


.monsterShowcase .card:hover{
    transform: scale(1.1);
}

.monsterShowcase .single-monster > img:hover{
    filter: brightness(1.15);
}

/* Services Styling */

.site-main .services-area{
    padding: 7rem 2rem;
}

.services-area .services .services-img > img{
    width: 100%;
    height: 100%;
}

.services-area {
    background-image: url(../../content/images/witcher.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
}

.site-main .services-area h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    padding: 2rem 0;
    width: 16rem;
}

.site-main > .services-area .services:hover{
    filter: brightness(1.25);
}

.site-main .services-area a{
    position: relative;
    margin:20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    color: white;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.services:hover .card-content a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.services-area .card-content a:hover{
    color: white;
    background: linear-gradient(315deg,maroon,red);;
}

.services-area .services{
    position: relative;
    padding: 0;
    background: black;
    border: 1px solid black;
}

.services-area .services:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(315deg,maroon,red);
    transform: skew(2deg,2deg);
    z-index: -1;
}

.services-area .card-content{
    background: black;
}

.services-area .card-image{
    background: black;
}

/* Client Area Styling */

.site-main .client-area .client .about-client{
    padding-top: 2rem;
}

.site-main .client-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--lato);
}

.site-main .client-area .client .about-client p{
    font-size: 14px;
}

/* Owl Carousel Styling */

.site-main .client-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .client-area .owl-carousel .owl-item:hover{
    filter: brightness(1.25);
}

.site-main .client-area .owl-carousel .owl-dots .owl-dot.active span{
    background: red;
    width: 12px;
    height: 12px;
}

/* Projects + Magnific Pop-Up Styling */ 

.site-main .projects .button-group button{
    color: red;
    background: transparent;
    border: none;
    font: normal 700 16px/130px var(--lato);
    text-transform: uppercase;
}

.site-main .projects .button-group button + button{
    padding-left: 3rem;
}

.site-main .projects .grid h4{
    font: normal 700 25px/12px var(--lato);
}

.site-main .projects .grid a:hover img{
    filter: brightness(1.1);
}

/* Subscribe Area Styling */

.site-main .subscribe form .input-textbox input{
    width: 500px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--lato);
}

.site-main .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe form .btn-submit button{
    background: red;
    color:white;
    padding: .7rem 2rem;
}

/* Text Appear Animation Styling */

.text-intro{
    opacity:0;
    transition: 0.5s all ease-in-out;
}

.text-appear{
    opacity:1;
}

/* Typewriter Effect Animation Styling */

.typewriter{
    margin-left: 10px;
}

.typewriter::after{
    content: "";
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}