body {
    background: #45628a;
    font-family: "Lato", sans-serif;
    color: white;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #0abcfc;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 1.8rem;
}

#mainNavbar .navbar-brand:hover{ 
    color: #0abcfc;
}

.navbar.scrolled {
    background:#3389d4;
    transition: background 500ms;
}

#emailHelp{
    color: white;
}

.c1 {
    margin-top: 10%;
}