@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap);

.main-block {
    margin-top: 230px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.2),
               0px 18px 23px rgba(0,0,0,0.1);
}

.navbar {
    margin-top: 20px;
    margin-right: 130px;
    font-size: 1.5rem;
}

body {
    background-image: url(https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1462&q=80);
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}
html {
    height: 100%;
}

#homeButton {
    background-color: #2dcf81;
}